[main]
video_duration   = 5			# in minutes
output_directory = "./video/"
ffmpeg_binary    = "ffmpeg"

[camera.entrance]
hostname = "192.168.1.155"
stream   = "/stream1"
username = "al"
password = "%Th%heXTZ`F+9c8}"

[camera.staircase]
hostname = "192.168.1.169"
stream   = "/"
username = "john"
password = ";ad?\D^!6{/vb>(D"

[camera.parkinglot]
hostname = "192.168.1.28"
stream   = "/streams/main"
username = "jack"
password = "5DMN*N6b(GH?'}=D"
